
/*
  DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700";
/*
* {
    border: 1px solid black;
}
*/

body {
    font-family: 'Nunito', sans-serif;
    /*background: #fafafa;*/
    background: white;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

#logo-bg {
    height: 50%;
    opacity: 0.2;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 999;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #72d4e5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar.active .fa {
    transform: rotate(180deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #72d4e5;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #72d4e5;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #72d4e5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #9ae7f4;
}

#sidebar button {
    transition: all 0.4s;
}

/* moves button to the right if sidebar is collapsed */
#sidebar button.sidebar-expand {
    margin-right: -30px;
    display: none;
}

#sidebar-collapse {
    margin-left: 215px;
    line-height: 15px;
}

#sidebar-collapse.active {
    display: none;
    margin-left: 0px;
    background-color: #72d4e5;
    color: white;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: white;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: white;
}
a.article, a.article:hover {
    background: white !important;
    color: #fff !important;
}

#sidebar-collapse:hover {
    background: #9ae7f4;

}

.navbar-dropdown {
    position: relative;
}

#dropdown-content {
    display: none;
    z-index: 1;
    text-indent: 15px;
}

.navbar-dropdown:hover #dropdown-content {
    display: block;
}

#mobile-nav {
    display: none;
    color: white;
    background: #72d4e5;
    border-radius: 5px;
    margin-bottom: 25px;
    font-size: 1.1em;
}

#mobile-nav a:hover {
    background: white;
    color: #72d4e5;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active{
    width: 95%;
}

.navbar {
    height: 150%;
    /*
    box-shadow: 3px 3px 3px rgba(114,212,229,0.3);*/
    background-color: #72d4e5;
}

.navbar-brand {
    font-size: 32px;
    clear: both;
    color: white;
}

.header-title {
    float: left;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown {
    float:left;
    line-height:50px;
    margin-left:25px;
}

#class-card-add-button button{
    float: right;

}

.card {
    background: white;
    padding: 30px 20px;
    /*border: 1px solid #358bbe;*/
    border-radius: 5px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(114, 212, 229, 0.4);
    color: #72d4e5;
}

.card:hover {
    background: rgba(114, 212, 229, 0.5);
    color: white;
}

.top-buffer { margin-top:1px; margin-bottom: 1px;}


/* ---------------------------------------------------
    MODAL STYLE
----------------------------------------------------- */

.modal-body {
    display: flex;
    flex-direction: column;
}

.btn-blue:hover {
    transition-timing-function: ease-in-out;
    transition: background-color .5s, color .5s;

    background-color: #72d4e5;
    color: white;
    border: 1px #72d4e5 solid;
}

.btn-blue {
    background-color: white;
    color: #72d4e5;
}

.btn-inverted-blue:hover {
    transition-timing-function: ease-in-out;
    transition: background-color .5s, color .5s;

    background-color: white;
    color: #72d4e5;
    border: 1px #72d4e5 solid;
}

.btn-inverted-blue {
    background-color: #72d4e5;
    color: white;
}

#course-id-input {
    align-self: center;
}

.modal-input {
    margin-top: -15px;
    margin-bottom: 15px;
    border-color: #358bbe;
    color: #358bbe;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebar-collapse span {
        display: none;
    }
    #hamburger-menu {
        display: block;
    }
    #mobile-nav {
        display: block;
    }
}

/* ---------------------------------------------------
    COLLAPSIBLE PANEL STYLE
----------------------------------------------------- */
.card-header {
  position: relative;
}
.card-header[data-toggle="collapse"]:after {
  font-family: 'Glyphicons Halflings';
  content: "\e072"; /* "play" icon */
  position: absolute;
  color: #b0c5d8;
  font-size: 18px;
  line-height: 22px;
  right: 20px;
  top: calc(50% - 10px);

  /* rotate "play" icon from > (right arrow) to down arrow */
  -webkit-transform: rotate(-90deg);
  -moz-transform:    rotate(-90deg);
  -ms-transform:     rotate(-90deg);
  -o-transform:      rotate(-90deg);
  transform:         rotate(-90deg);
}
.card-header[data-toggle="collapse"].collapsed:after {
  /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  -ms-transform:     rotate(90deg);
  -o-transform:      rotate(90deg);
  transform:         rotate(90deg);
}

.navbar-collapse.collapse.in {
  display: block!important;
}

/* ---------------------------------------------------
    ICON BAR STYLE
----------------------------------------------------- */

.icon-bar {
    width: 70px;
    background-color: #72d4e5;
    height: 100vh;
    margin-left: -85px;
}

.icon-bar.active {
    width: 70px;
    background-color: #72d4e5;
    height: 100vh;
    margin-left: -15px;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 24px;
}

.icon-bar a:hover {
    background-color: #9ae7f4;
}

/*
.active {
    background-color: #358bbe !important;
}*/