.questions-list .card {
    background: white;
    padding: 15px 15px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 0;
    margin: 20px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
}

.comments-list .comment{
    background: white;
    padding: 15px 15px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 0;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}