@import "https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700";

/*
* {
    border: 1px solid black;
}*/


body {
    font-family: 'Nunito', sans-serif;
    color: #358bbe;
}

.container-fluid {
    justify-content: center;
}

img {
    display: block;
    width: 300px;
    height: 300px;
    align-self: start;
    margin: auto;

    border: dashed #9ae7f4;
    border-radius: 50%;

    padding: 20px;
}

#regBox input {
    border-color: #358bbe;
}

#regBox select {
    border-color: #358bbe;
    color: lightgray;
}

#regBox option {
    color: black;
}

#regBox input::placeholder {
    color: lightgray;
}

.forms {
    display: inline-block;
    width: 49.7%;
}

.forms input {
    width: 100%;
}

#backBtn {
    margin-top: 20px;
}

#backBtn a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}


/* get rid of the divider for mobile views -> looks nicer! */
@media only screen and (max-width: 1200px) {
    .forms {
        width: 100%;
    }
}
