@import "https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700";

/*
* {
    border: 1px solid black;
}*/

* {
    margin: 0;
    padding: 0;
}

html, body, #box-container {
    height: 100%;
    width: 100%;
    margin: 0 0;
    padding: 0 0;
}

body {
    color: white;
    font-family: 'Nunito', sans-serif;

}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;

    height: 100%;

    padding-left: 2%;
    padding-right: 2%;
}

#alarm-area {
    align-self: flex-start;
    min-height:15vh;
    max-height:15vh;
}

#box-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

/** INFO BOX **/

#infoBox {
    color: black;
    display: flex;
    flex-direction: column;

    align-self: start;
}

/*
#infoBox #image-circle {
    background: white;
    width: 100%;
    height: auto;
    border-radius: 50%;
    border-style: dashed;

    display: flex;
    justify-content: center;
    align-items: center;
}
*/

#infoBox p {

    font-size:16px;
    opacity: 0.9;
    background: #72d4e5;
    width: 100%;
    padding: 60px 30px;
    padding-top: 70px;
}

#infoBox img {

    display: block;
    width: 250px;
    height: 250px;

    align-self: start;

    padding: 20px;

    background: white;

    border: dashed #9ae7f4;
    border-radius: 50%;

    z-index: 2;

    transform: translateY(90px)
}

#infoBox #bottom-hr {
    padding: 0;
    margin: 0;
}

#infoBox hr {
    border-top: 4px solid #9ae7f4;
}

/** LOGIN BOX STUFF **/

#loginBox {
    -moz-border-radius:10px;  /* for Firefox */
    -webkit-border-radius:10px; /* for Webkit-Browsers */
    border-radius:10px; /* regular */
    padding: 25px;
}

#loginBox h2 {
    text-align: left;
    color: #358bbe;
    padding-bottom: 10px;
}

#loginBox input {
    border-color: #358bbe;
}

#loginBox input.wrong {
    border-color: red;
}

#loginBox form button {
    transition: background-color .5s, color .5s;

    border-radius: 10%;
    border: solid 2px #358bbe;
    color: white;
    background: #358bbe;
    padding: 5px 10px;
}

#loginBox form button:hover {
    cursor: pointer;
    background-color: white;
    color: #358bbe;

}

#loginBox input::placeholder {
    color: lightgray;
}

#loginBox form {
    padding-bottom: 15px;
}

#loginBox form label {
    font-size: 14px;
    color: black;
    align-self: start;
    cursor: pointer;
    padding-bottom: 2px;

    padding-left: 10px;

    display: block;
    position: relative;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#loginBox form label input {
    opacity: 0;
    cursor: pointer;
}

.checkBox-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;

    background-color: white;
    border-color: #358bbe;
    border-width: 1px;
    border-style: solid;
    border-radius: 15%;
}

/** SOME RETRIEVED FROM https://www.w3schools.com/howto/howto_css_custom_checkbox.asp **/

/* Create the checkmark/indicator (hidden when not checked) */
.checkBox-mark:after {
    content: "";
    position: absolute;
    display: none;

    background-color: white;
    transition: background-color .5ms;
}

/* Show the checkmark when checked */
#checkBox-label input:checked ~ .checkBox-mark:after {
    display: block;
}

/* Style the checkmark/indicator */
#checkBox-label .checkBox-mark:after {

    background-color: #358bbe;

    top: 1.5px;
    left: 1.5px;

    width: 15px;
    height: 15px;
    border-radius: 15%;
}

/** END RETRIEVED DATA **/

#register-area {
    font-size: 13px;
    color: black;
    text-align: left;
}

#register-area a {
    color: #9ae7f4;
}


/** DIVIDER STUFF **/
.divider {
    height: 400px;
}

.div-smaller {
    width: 1%;
    max-width: 7%;
}


/** LEFTMOST AND RIGHTMOST DECORATIONS **/

.divider-color {
    border-right: #358bbe 2px solid;
}

.divider-left {
    margin-right: 20px;
}

.divider-right {
    margin-left: 20px;
}

.divider-sm {
    height: 300px;
}

.divider-md {
    height: 400px;
}

.divider-rightmost {
    height: 500px;
    margin-right: 30px;
}

.divider-leftmost {
    height: 500px;
    margin-left: 30px;
}


/*
#boxstuff {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    background-color: rgba(255,255,255,0.3);
    padding-left: 25px;
    padding-right: 25px;
}
*/

/* get rid of the divider for mobile views -> looks nicer! */
@media only screen and (max-width: 600px) {
    .divider, .divider-color {
        display: none;
    }
}