<!doctype html>
<html>
    <head>
        <meta author="Spencer Manzon">            
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/start_styles.css">
        <link rel="icon" href="img/favicon.ico">
        <title>Snapback</title>
    </head>
    <!-- Add fonts!! -->
    <body style="background: url(img/bg2.jpg) no-repeat center center fixed; background-size:cover;">
        <div class="container">
			<!--<div class="row" style="min-height:5vh; max-height:5vh;"></div>--> <!-- why is this here? -->
			<div class="row" style="min-height:15vh; max-height:15vh;">
				<div class="col-sm-12">
					<div class="col-sm-12">
						<% if (error && error.length > 0) { %>
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
								<%= error %>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						<% } %>
						<% if (success && success.length > 0) { %>
							<div class="alert alert-success alert-dismissible fade show" role="alert">
							<%= success %>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
						<% } %>
					</div>
				</div>
			</div>

            <div class="row text-center">

				<!--<div class="col-sm-1"></div>-->
				
				<div id="infoBox" class="col-sm-5" style="padding-bottom: 3em">
					<img src="img/logo_blue.png" style="width: 80%; height: 350px;">
					<!--<h2 style="padding-bottom: 1em;">Welcome to Snapback</h2>-->
					<h5 class="text-justify" style="font-size:16px; opacity: 0.9">
						Snapback is a user-friendly interface that allows students to connect with one another and their
						professors in and outside of the classroom. With utilities such as accessing lecture files and
						a Q&A section, students will feel as if they've never left class at all.
					</h5>
					<br>
					<a href="register"><button class="btn btn-outline-light btn-lg">Register</button></a>
				</div>
				
				<div class="col-sm-1"></div>
				
				<div id="divider" class="col-sm-1 border-left" style="height: 600px; opacity: 0.3;"></div>
				
				<div id="loginBox" class="col-sm-5 align-self-center">
					<h2 style="font-size: 24px; letter-spacing: 1px; padding-bottom: 1em;">Login</h2>
					<form style="color:#ffffff;" method="post">
						<div class="form-group">
							<input type="email" name="email" id="email" class="form-control" placeholder="email" required autofocus>
						</div>
						<div class="form-group">
							<input type="password" name="password" id="password" class="form-control" placeholder="password" required autofocus>
						</div>
						<br>
						<button type="submit" id="submit" class="btn btn-outline-light mb-2">Sign In</button>
					</form>
				</div>
				
            </div>
            <!--<div class="row" style="min-height:20vh; max-height:20vh;"></div>--> <!-- why is this also here :O -->
        </div>

        <!-- Scripts -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/start.js"></script>
    </body>
</html>
