<!doctype html>
<html>
    <head>
        <meta author="Spencer Manzon">            
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/start_styles.css">
        <link rel="icon" href="img/favicon.ico">
        <title>Snapback</title>
    </head>
    <!-- Add fonts!! -->
    <body> <!-- style="background: url(img/bg2.jpg) no-repeat center center fixed; background-size:cover;"> -->
        <div class="container-fluid">
			<!--<div class="row" style="min-height:5vh; max-height:5vh;"></div>--> <!-- why is this here? -->
            <!--
			<div id="alarm-area">
				<div class="col-sm-12">
					<div class="col-sm-12">
						<% if (error && error.length > 0) { %>
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
								<%= error %>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						<% } %>
						<% if (success && success.length > 0) { %>
							<div class="alert alert-success alert-dismissible fade show" role="alert">
							<%= success %>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
						<% } %>
					</div>
				</div>
			</div>
            -->

            <div class="divider-sm divider-color divider-left"></div>
            <div class="divider-md divider-color divider-left"></div>
            <div class="divider-rightmost divider-color"></div>

            <div id="box-container" class="row text-center">

				<!--<div class="col-sm-1"></div>-->
				
				<div id="infoBox" class="col-sm-5">
                    <img class="align-self-center" src="img/logo_blue.png">
                    <hr/>
                    <p class="text-center text-white">
                        Welcome to Snapback! <br> Whether you're a student or an instructor, we'll ensure that you can keep
                        track of your classes and stay connected!
                    </p>
                    <hr id="bottom-hr"/>
				</div>

                <!-- DIVIDER -->
                <div class="col-sm-1 div-smaller"></div>
                <div class="divider col-sm-1 border-left div-smaller"></div>


                <!--
                <% if (error && error.length > 0) {%>

                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= error %>
                </div>

                <% } %>
                -->

				<div id="loginBox" class="col-sm-5">
                    <h2>Sign In</h2>
					<form method="post" class="d-flex align-content-start flex-column">
						<div class="form-group">
							<input type="email" name="email" id="email" class="form-control" placeholder="Email" required autofocus>
                            <br>
							<input type="password" name="password" id="password" class="form-control" placeholder="Password" required autofocus>
						</div>

                        <label id="checkBox-label"><input id="checkBox" type="checkbox"> <span class="checkBox-mark"></span>   Remember me</label>

                        <button type="submit" id="submit" class="align-self-center">Let's go!</button>
					</form>

                    <div id="register-area">
                        Don't have an account? Get started! Join us <a href="register">here</a> if you're a student
                        or <a href="register?isprof=true">here</a> if you're an instructor.
                    </div>
				</div>
				
            </div>

            <div class="divider-leftmost divider-color"></div>
            <div class="divider-md divider-color divider-right"></div>
            <div class="divider-sm divider-color divider-right"></div>

            <!--<div class="row" style="min-height:20vh; max-height:20vh;"></div>--> <!-- why is this also here :O -->
        </div>

        <!-- Scripts -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/start.js"></script>
    </body>
</html>
